// Background classes

.bg-img-cover {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.bg-blur, .blur {
  backdrop-filter: blur(10px);
}

.abstract-bg {
  background-image: url(../../assets/abstract-bg-01.jpg);
}

.abstract-bg-2 {
  background-image: url(../../assets/abstract-bg-02.jpg);
}

.pharmacy-bg {
  background-image: url(../../assets/pharmacy-bg.jpg);
}

.text-ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.scroll-container::-webkit-scrollbar {
  width: 4px;
}

.scroll-container::-webkit-scrollbar-track {
  background: transparent;
}

.scroll-container::-webkit-scrollbar-thumb {
  background: #cfcfcf;
  border-radius: 50px;
}