$sidebar-bg-color: map-get($theme-colors, "ultra-blue");
$sidebar-color: rgba(#fff, .75);
$highlight-color: #ffffff;
$submenu-bg-color: map-get($theme-colors, "sky-blue-dark");
$submenu-bg-color-collapsed: map-get($theme-colors, "sky-blue");
// $breakpoint-md: 768px;