$sidebar-bg-color: map-get($theme-colors, "sky-blue");
$sidebar-color: rgba(#fff, .75);
$highlight-color: #ffffff;
$submenu-bg-color: #00a9d3;
$submenu-bg-color-collapsed: #019ec5;
// $breakpoint-md: 768px;