$sidebar-bg-color: map-get($theme-colors, "deep-blue");
$sidebar-color: rgba(#fff, .75);
$highlight-color: #ffffff;
$submenu-bg-color: map-get($theme-colors, "jet");
$submenu-bg-color-collapsed: map-get($theme-colors, "jet");
// $breakpoint-md: 768px;