@mixin side-bar {
  // font-family: 'Montserrat', sans-serif;

  h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.75rem;
  }

  h2 {
    font-size: 1.1rem;
    // font-weight: inherit;
    font-weight: 700;
    white-space: nowrap;
  }

  // background-image: url(data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 0.95%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e);

  h3 {
    font-size: 1.1rem;
    // font-weight: inherit;
    font-weight: 200;
    white-space: nowrap;
  }

  a {
    color: white;
    padding-left: 0;
    padding-right: 0;
    // font-weight: 700;
  }

  a:hover {
    color: rgba(255, 255, 255, 0.75);
    text-decoration: none;
    // font-weight: 400;
  }

  a:active {
    // font-weight: 800;
  }
}

@mixin content {
  h2 {
    font-size: 1.4rem;
  }

  h3 {
    font-size: 1.1rem;
  }
}

#sideBar {
  @include side-bar;
}

#dashboardContent {
  @include content;
}